body {
background: rgb(230,230,230);
}

a {
color: rgb(250,250,250);
}

a:visited {
color: rgb(195,195,195);
}

a:hover {
color: rgb(220,220,220);
}

h2  {
color: rgb(250,250,250);
text-shadow: none;
}

h3 {
color: rgb(220,220,220);
text-shadow: none;
}

input, textarea {
background-color: rgb(90,90,90);
border: 1px solid rgb(110,110,110);
color: rgb(240,240,240);
}

input:hover, input:focus, textarea:hover, textarea:focus {
background-color: black;
border: 1px solid white;
color: white;
}

input[type=submit] {
background-color: rgb(220,220,220);
border: 1px solid white;
color: rgb(90,90,90);
}

input[type=submit]:hover, input[type=submit]:focus {
background-color: rgb(255,255,255);
color:black;
text-shadow: none;
}

#menu-bar {
background: rgba(255,255,255,0.6);
}

#menu-align h1 {
text-shadow: none;
}

#menu-align h1:hover, #menu-align h1:focus {
text-shadow: 0 0 15px black;
}

#menu-align h1 a {
color: black;
}

#menu-align h1 a:hover, #menu-align h1 a:focus {
color: #EEE;
}

#menus .active > a {
color: #FFF;
text-shadow: 0 0 15px black;
}

#menus a {
color: black;
text-shadow: none;
}

#menus a:hover {
color: #EEE;
text-shadow: 0 0 15px rgb(100,100,100);
}

#main {
background: none;
background-color: rgb(100,100,100);
}

#header {
background-color: #111;
}

#content-align {
background: #000;
}

#content {
color: white;
}

#footer {
color: rgb(100,100,100);
background: rgb(220,220,220);
}

#footer-nav {
background: rgba(200,200,200,0.7);
}

#footer-nav-align {
color: black;
text-shadow: none;
background: rgba(0,0,0,0.07);
}

#footer-nav-align a {
color: rgb(0,0,0);
}

#footer-nav-align a:hover {
color: rgb(100,100,100);
text-shadow: 0 0 15px white;
}

#search-field {
background-color: rgb(220,220,220);
border: 1px solid rgb(100,100,100);
color: rgb(100,100,100);
}

#search-field:hover, #search-field:focus {
background-color: white;
border: 1px solid rgb(100,100,100);
color: rgb(10,10,10);
}

#search-form input[type=image] {
border: 1px solid rgb(135,135,135);
}

#search-form input[type=image]:hover {
border: 1px solid rgb(90,90,90);
}

#robodesign a {
background: url("../images/robodesign-logo-invert.png") no-repeat;
opacity: 0.3;
}

#robodesign a:hover, #robodesign a:focus { opacity: 1 }

#sitemap > li {
color: rgb(250,250,250);
}

#sitemap > li > a {
color: rgb(250,250,250);
text-shadow: none;
}

#sitemap > li > a:hover {
color: rgb(150,150,150);
border-bottom: 2px solid #555;
}

#sitemap > li > ul > li:last-child { border-right: 0 }

#sitemap > li > ul > li > a {
color: rgb(220,220,220);
background: rgba(255,255,255,0.2);
}

#sitemap > li > ul > li > a:hover{
color: rgb(255,255,255);
background: rgba(255,255,255,0.3);
}

#sitemap > li > ul > li > ul > li > a {
color: rgb(210,210,210);
}

#sitemap > li > ul > li > ul > li > a:hover {
color: rgb(250,250,250);
background: rgba(255,255,255,0.15);
}


#blog-bar {
background-image: none;
border-top: 1px solid rgb(150,150,150);
background-color: rgba(255,255,255,0.5);
}

#blog-bar-align {
background: rgba(0,0,0,0.1);
}

#blog-bar-align p a {
color: black;
text-shadow: none;
}

#blog-bar-align ol a, #blog-bar-align ul a {
color: black;
}

#blog-friends ul, #blog-tags ul, #blog-archive ul, #blog-feeds ul,
#blog-friends ol, #blog-tags ol, #blog-archive ol, #blog-feeds ol {
text-shadow: none;
}

#blog-bar-align ol a:hover,
#blog-bar-align ol a:focus,
#blog-bar-align ul a:hover,
#blog-bar-align ul a:focus {
color: #222;
background: rgba(255,255,255,0.75);
}

#blog-bar-align ol, #blog-bar-align ul {
background: rgba(255,255,255,0.9);
}

#blog-bar-align p {
text-shadow: -2px -2px 6px #555, 2px 2px 4px #555;
}

#blog-tags li:hover,
#blog-tags li:focus {
background: rgba(255,255,255,0.7);
}

#blog-tags span {
color: rgb(100,100,100);
}

#blog-tags li:hover span,
#blog-tags li:focus span {
color: rgb(0,0,0);
}

#blog-tags li:hover a,
#blog-tags li:focus a {
color: #222;
}


.blog-post-date {
color: rgb(190,190,190);
}

.blog-post-tags {
color: rgb(190,190,190);
}

.blog-post-title a {
color:white;
}

.blog-post-title a:hover {
color:rgb(190,190,190);
}
.send-feedback a {
background: url("../images/buttons/button-send-feedback-invert.png") no-repeat;
opacity: 0.4;
}

#blog-nav-footer a {
color: rgb(150,150,150);
}

#blog-nav-footer  a:hover, #blog-nav-footer a:focus {
color: rgb(250,250,250);
}

#read-more {
color: rgb(250,250,250);
}

#read-more:hover {
color: rgb(200,200,200);
}

#other-blog-posts a {
color: rgb(190,190,190);
}

#other-blog-posts a:hover {
color: rgb(250,250,250);
}

#search-result-info {
color: rgb(250,250,250);
}

#search-pages {
color: rgb(250,250,250);
}
.search-extract a {
color: rgb(250,250,250);
}

.search-title a {
color: white;
}

.search-title a:hover {
color: rgb(150,150,150);
}

#accessibility ul a {
font-weight:bold;
color: black;
text-shadow:none;
}

#accessibility ul a:hover , #accessibility ul a:focus {
color: #555;
background: rgba(255,255,255,0.9);
text-shadow:none;
}

#accessibility ul {
box-shadow: none;
-webkit-box-shadow:none;
-moz-box-shadow: none;
background: rgba(255,255,255,0.85);
}

#column1 {
background: none;
}

#column2 {
background: none;
}

#column1-container {
background:none;
background-color: rgba(255,255,255,0.15);
}

#column2-container {
background: none;
}
